@font-face {
    font-family: 'Great Warrior-Personal use';
    src: url('GreatWarriorPersonaluse.woff2') format('woff2'),
        url('GreatWarriorPersonaluse.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Caviar Dreams';
    src: url('CaviarDreams-Bold.woff2') format('woff2'),
        url('CaviarDreams-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

